#prc{
    padding: 30px;
    margin: 0;
    color: black;
    margin: 0px;
    padding: 150px 50px;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.lnk_{
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
